@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Student>

<div class="text-center">
    <table class="table">
        <tr>
            <td><a asp-controller="Students" asp-action="Index">Students</a></td>
        </tr>
        <tr>
            <td><a asp-controller="Teachers" asp-action="Index">Teachers</a></td>
        </tr>
        <tr>
            <td><a asp-controller="Disciplines" asp-action="Index">Disciplines</a></td>
        </tr>
    </table>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Group)
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="ChangeDisciplines" asp-route-id="@student.Id" class="btn btn-info">Change Discipline</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
